.header {
  flex: none;
  background-color: #657d94;
  border-bottom: 1px solid #000;
  height: 50px;
  display: flex;
  align-items: center;
}

.header a {
  margin-right: 50px;
  color: rgb(216, 169, 169);
}
